
<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div class="text-red-500 font-bold"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div class="text-red"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit class:"rounded-lg cursor-pointer p-2 bg-blue-400 text-white" %>
  </div>
<% end %>
